{% extends "auctions/layout.html" %}

{% block title %}Create Listing{% endblock %}

{% block body %}
    <form method="POST" class="create-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-field {% if field.errors %} errors {% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button>Create Listing</button>
    </form>
{% endblock %}