{% if user.is_authenticated and user.id != auction.seller.id %}
        <form action="{% url 'create-bid' %}" method="POST" class="">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-sm-10 col-8">
                    {{ bid_form }}
                    {{ bid_form.errors }}
                </div>
                <input type="submit" value="Place Bid" class="btn btn-primary btn-new-blue">
                <input type="hidden" name="auction_id" value="{{ auction.id }}">
            </div>
        </form>
{% endif %}